<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Démo</title>
</head>
<body>
<h1>Test</h1>
    {# Crée une Variable #}
    {% set name = "Philippe" %}
    <h2>{{ name }}</h2>

    {# Crée un tableau #}
    {% set colors = ["orange","brown","turquoise","blue"] %}
    {% for color in colors %}
        <div style="background-color: {{ color }};">{{ color }}</div>
    {% endfor %}

    {# Création d'un Objet #}
    {% set book ={
            title: 'Symfony',
            year: '2006',
            author: 'Fabien Potencier'
        }
    %}
    <h3>{{ book.author }}</h3>
<div>
    {% for key,val in book %}
        <div>{{ key }}: {{ val }}</div>
    {% endfor %}
</div>
</body>
</html>